node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
aleo/build
aleo/tests/*.aleo
aleo/src/*.aleo
aleo_voting/build
aleo_voting/tests/*.aleo
aleo_voting/src/*.aleo
aleo_voting_v1/build
aleo_voting_v1/tests/*.aleo
aleo_voting_v1/src/*.aleo